<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('header'); -%>
    <link rel='stylesheet' href='/stylesheets/forgot.css' />
</head>
<body>
    <%- include('pubNavbar'); -%>
    <div class="container">
        <div class="box_forgot">
            <form id="formId" action="/forgot_pw"  method="POST"  >
               <h4 class="head_h4 mt-3 mb-3">ค้นหาบัญชีผู้ใช้</h4>
               <div>
                โปรดป้อนอีเมลหรือหมายเลขประจำตัวประชาชน 13 หลักของคุณเพื่อค้นหาบัญชีของคุณ
               </div>
               <div>
                <input  class="form-control mt-3 " id="" placeholder="กรุณากรอกบัญชีผู้ใช้เพื่อรีเซ็ตรหัสผ่าน" name="send_email" >
                <small id="emailHelp" class="form-text text-muted">หมายเหตุ **กรณีที่ไม่ได้มีอีเมล์ของคุณในการลงทะเบียนกรุณาติดต่อผู้ดูแลรหัสหรือติดต่อเจ้าหน้าที่ประจำแผนก**</small>
               </div>
               <div class="float-right  mt-3">
                   <button class="btn btn-primary mr-3" id="find_email" type="submit" >ค้นหา</button>
                    <a  class="btn btn-danger" onclick="cancel()">ยกเลิก</a>
               </div>
            </form>
        </div>
    </div>
    
<script type="text/javascript">
   var err = '<%= message %>'
    if(err == 'fail'){
        Swal.fire(
        'เกิดข้อผิดพลาด?',
        'ไม่มีบัญชีผู้ใช้งานกรุณากรอกใหม่อีกครั้ง?',
        'warning'
        ) 
       
    }
    if(err == 'success'){
        Swal.fire(
        'สำเร็จ',
        'กรุณารอสักครู่เช็คอีเมลของท่าน',
        'success'
        )   
      
    }
</script> 
<script type="text/javascript">
    var uri = window.location.toString();
    if (uri.indexOf("?") > 0) {
        var clean_uri = uri.substring(0, uri.indexOf("?"));
        window.history.replaceState({}, document.title, clean_uri);
    }
</script>
  
</body>
</html>