<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>วิทลัยอาชีวศึกษาภูเก็ต</title>
    <link rel="icon" href="/images/loginLogo.png">
  <link rel='stylesheet' href='/stylesheets/public.css' />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="javascripts/adminLTE/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="javascripts/adminLTE/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="javascripts/adminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
</head>

<body>
 
 
</body>
</html>