<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('header'); -%>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    
        <div class="ml-auto"> 
          <span type="button"class="navbar-toggler"  >
            <a class="navbar-toggler-icon " data-widget="pushmenu"role="button"></a>
          </span>
          <span class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <a class="navbar-toggler-icon " ></a>
          </span>
        </div>
    
      
        <div class="main-header collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav  mr-auto mt-2 mt-lg-0">
            <li class="nav-item active mr-4">
              <a class="text-dark" data-widget="pushmenu"  role="button" style="text-decoration: none;"><i class="fa fa-clone" aria-hidden="true"></i></a>
            </li>
            <!-- <li class="nav-item active">
              <a class="nav-link" >หน้าเเรก </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" >เกี่ยวกับเรา</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" >บุคลากร</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" >หลักสูตร</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" >ข่าวสาร</a>
            </li> -->
          </ul>
            <!-- <a  class="btn btn-danger" href="/logout" >ออกจากระบบ</a> -->
        </div>
      </nav>
      <%- include('footer'); -%>
</body>
</html>