<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header'); -%>
    <link rel='stylesheet' href='/stylesheets/pubNavbar.css' />
    <title>วิทยาลัยอาชีวศึกษาภูเก็ต</title>
    <link rel="icon" href="/images/loginLogo.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <img src="/images/loginLogo.png" alt="" class="imgMenu ml-2 mr-2">
          <a class="navbar-brand font-weight-bold" href="#">วิทยาลัยอาชีวศึกษาภูเก็ต</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           
          </ul>
            <!-- <a  class="btn btc-outline-pkvc" data-toggle="modal" data-target="#modalLogin">เข้าสู่ระบบ</a> -->
        </div>
      </nav>
    
    
 
      <%- include('footer'); -%>
</body>
</html>