/* search Theme */
@media screen and (max-width: 991px) {
  .searchDeapart{
    display: none;
  }
  .searchName{
    display: none;
  }
}
@media screen and (max-width: 1036px) {
  .searchSubject p{
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  
  }
}

.searchSubject p{
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 

}
/* chat */
.message-box{
  /* height:  35rem;; */
  height: 500px;
  overflow: auto; 
 
}
.createTheme{
 background-color: #3f4449; 
 border-radius: 5px;

}

#info{
  height: 20px;
}

.list-group-item{
  font-weight: bold;
  border: none;
}
.infoLeft{
  height: 20px;
  font-weight: bold;
}
.containChat{
  border-radius: 15px;
  border: 1px solid rgb(202, 201, 201);
  box-shadow: 3px 2px 2px 5px #f8f8f8;  
}
li.borderless {
  border: 2px  solid;
}
#messageImage{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.showThemeImageChat{
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.hiddenTextChat{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.cardChat{
  height: 40rem;
}

.cardNoimage{
  border : 1px solid rgb(133, 133, 133);
  border-radius: 20px;
}
/* ----- */
.showSubject{
  word-wrap: break-word; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  
}
.showThemeImage{
  height: 14rem;
  width: 100%;
  object-fit: cover;
}
.showThemeImage:hover{
  box-shadow: 3px 2px 2px 0px #f3f3f3;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 2px;
}
.mbImage{
  height: 50px;

}

.miniImage{
  height: 25px; 
  width: 25px; 
  object-fit: cover;
  border-radius: 5px;
}
.miniImage:hover{
  cursor: pointer;
  border: 1px solid rgb(122, 121, 121);
  box-shadow: 3px 3px 3px 2px #a5a4a4;
}
.changeImageHover{
  background-color: black;
  height: 100rem;
}
.btnSaveImg div a:hover{
  cursor: pointer;
}
.allTheme{
  box-shadow: 6px 5px 6px 5px #cecece;
  border: 1px solid rgb(216, 214, 213);
  border-radius: 10px;
}
.hiddenText{
  height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  
}
/*------------------------------------*/
.imageCss{
    height: 160px;
    width: 160px;
    object-fit: cover;
}
#showImage{
  min-height: 15rem;
}
.btnTheme div button{
  width: 130px;

}
.image-area {
    position: relative;
    border-radius: 0px;
    border: 1px solid black;
   

}
.image-area img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.remove-image {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #555;
  border: 1px solid #fff;
  color: #FFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.remove-image:hover {
   background: #fa0d0d;
   color: #fff;
    padding: 3px 7px 5px;
    top: -11px;
  right: -11px;
}
.remove-image:active {
   background: #E54E4E;
    top: -10px;
  right: -11px;
}